name: aero

networks:
  caddy:

services:
  app:
    build: .
    container_name: "aero"
    restart: unless-stopped
    env_file: ".env"
    environment:
      - ORIGIN=$DOMAIN
    ports:
      - 3000:3000
    networks:
      - caddy

  caddy:
    image: caddy:latest
    restart: unless-stopped
    env_file: ".env"
    depends_on:
      - app
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy

volumes:
  caddy_data:
  caddy_config:
