@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
    --font-rubik: Rubik, sans-serif;

    --breakpoint-xs: 30rem;
}

*:focus {
    outline: none;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--color-slate-950);
    color: var(--color-slate-50);
    scroll-behavior: smooth;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    @apply w-0.5 md:w-2;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-slate-800);
    border-radius: var(--radius-lg);
}

@layer base {
    .animate-text {
        animation: marqee 10s linear infinite;
    }
    @keyframes marqee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

/* Player Slider */
:root {
    --range-slider: var(--color-slate-800);
    --range-range-inactive: var(--color-slate-200);
    --range-range: var(--color-sky-500);
    --range-handle-inactive: var(--color-slate-200);
    --range-handle-focus: var(--color-slate-200);
    --range-handle-border: transparent;
}

.rangeSlider {
    font-size: 5px;
}
.rangeHandle {
    width: 12px !important;
    height: 12px !important;
    @apply opacity-0 transition-opacity duration-200 group-hover:opacity-100;
}

@layer components {
    /* Helper to make truncation reliable inside flexible layouts */
    .flex-truncate {
        @apply block w-full min-w-0 flex-1 truncate overflow-hidden;
    }
}
